<template>
  <a :href="pipelineHref"><img :src="pipelineBadge" alt="pipeline badge"/></a>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { url } from "../utils/url";


export default defineComponent({
  name: "Badges",
  props: {
    project: String,
    branch: {
      type: String,
      default: "main"
    }
  },
  computed: {
    pipelineBadge() {
      return url`https://gitlab.com/gachou/${this.project}/badges/${this.branch}/pipeline.svg`
    },
    pipelineHref() {
      return url`https://gitlab.com/gachou/${this.project}/-/pipelines?page=1&scope=all&ref=${this.branch}`
    }
  },
});
</script>
