<template>
  <a :href="href">{{ name }}</a>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "NpmLink",
  props: {
    name: String,
  },
  computed: {
    href() {
      return "https://npmjs.com/" + this.name;
    },
  },
});
</script>
