<template>
  <a :href="href">{{ name }}</a>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { url } from "../utils/url";

export default defineComponent({
  name: "Project",
  props: {
    name: String,
  },
  computed: {
    href() {
      return url`https://gitlab.com/gachou/${this.name}`;
    },
  },
});
</script>
